.Galeria{
    display: flex;
    justify-content: space-evenly;/* que quede un espacio entre las imagenes*/
    width: 100%;
    margin-top: 40px;
    height: 90%;
    flex-wrap: wrap;
}

body{
    height: 100vh;
    background-image:  url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSffdh5pnZo1Xes3CNvAG3RcZm6otdse4vPCQ&s');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Galeria img{
    width: 30%;
    height: 250px;
    border-radius: 10px; 
    transition: all ease-in-out 0.5s;/*le da la transicion esperando un segundo a aumentar la imagen*/
}

img:hover{
    transform: scale(1.1);
}

.Piedepagina{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(11, 1, 11);
    font-size: medium;
    text-align: center;
    height: 10%;
}